*{
    box-sizing:border-box;
}

html,body{
    height: 100%;
    background-color: #23486A;
    font-size: 1.2rem;
    font-style: italic;
    color:whitesmoke;
    
}

input,option,select,.box-dimension{
    background-color: #efb036;
}

button{
    background: none;
    border:none;
    background-color: #efb036;
    border-radius: 100px;
    font-style: italic;
    color: #a94a4a;
}

.gameBoard,
.gameBoardChoice{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap:10%;
}

.gameBoard__player1,
.gameBoard__player2,
.gameBoard__player1__choice,
.gameBoard__player2__choice{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gameBoard__squares{
    width: 10%;
    height: 30px;
    border: 2px solid #818c78;
    background: linear-gradient(to right ,#4c7b8b,#23486a,#3b6790);
    color:rgba(0, 0, 0, 0);  /* all the phrases and text are hidden */
}

.startGame-button{
    margin-top: 3rem;
}


.box-dimension{
    border:2px solid #4c7b8b;
    width: 2rem;
    height: 2rem;
}


.drag-n-drop{
    margin-top:2rem;
    display: flex;
    gap:30px;
}
