*{
    box-sizing:border-box;
}

html,body{
    height: 100%;
}

.gameBoard{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap:10%;
}

.gameBoard__player1,
.gameBoard__player2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gameBoard__player1 div,
.gameBoard__player2 div{
    width: 9%;  /* contrary to the theorical way of doing this */
    height: 30px;
    border: 2px solid black;
    margin:2px;
}


